@dark: #223344;
@light: lighten(@dark, 50%);

.default-font {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 140%;
    font-weight: 300;
}

body {
    background-color: @dark;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, a, span, li, a, td, th {
    .default-font;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 200%;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.4em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.6em;
}

h5, th {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

table {
	text-align: left;
}

li {
	list-style-type: none;
	&:before {
		content: '-';
		margin: 10px;
	}
}

header {
    height: 300px;
    padding: 100px 10%;
    background-color: rgba(255,255,255,0.1);
    margin: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    
    div {
        .default-font;
        color: white;
        line-height: 60px;
        padding: 20px;
        border: 1px solid white;
        border-radius: 3px;
    }
}

section {
    margin: 0;
    padding: 20px 10%;

	background-color: @dark;
	color: @light;
    a, a:link, a:visited {
	   color: @light;
    }

	&:nth-child(even) {
		background-color: @light;
		color: @dark;
        
        a, a:link, a:visited {
        color: @dark;
        }
	}
	
	&.resume {
		table {
			width: 100%;
			margin: 20px 0;
		}
	}

	> * {
		width: 80%;
		display: block;
	}
}




